<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliko</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="app"></div>
    <script type="application/json" name="view-data">
        {{viewData}}
    </script>
    <script src="app.js"></script>
</body>
</html>