<template>
    <div v-cloak>
        <center>
            Countries TOP Trends list updated at <i>{{updated}}</i>
        </center>

        <div class="float-left">
            <task-table-component v-if="countries.length > 0" :countries="countries">
                <h3>Table functionallity like GIThub task example</h3>
            </task-table-component>
        </div>

        <div class="float-right">
            <h3>Vue components (each country have component)</h3>
            <fieldset>
                <legend>Options:</legend>
                <input type="checkbox" v-model="options.withPrefix"/> How only tags with '#' prefix<br>
                <input type="checkbox" v-model="options.enabledMaxCount"/> Show Top[{{options.maxCount}}] trends<br>
                <div v-if="isEnabledMaxCount">
                    <input type="number" v-model.number="options.maxCount"/>
                </div>
            </fieldset>

            <div v-if="countries.length > 0">
                <country-component v-for="country in countries" :key="country.woeid" :country="country" :options="options"></country-component>
            </div>
        </div>
    </div>
</template>

<script>
    import io from 'socket.io-client'
    import _Config from '../../../backend/config'

    const socket = io(`//localhost:${_Config.hostPort}`)
    import CountryComponent from './Country'
    import TaskTableComponent from './TaskTable'
    import {Trend} from '../../../classes/Trend'

    export default {
        name: "Application",
        components: {
            'task-table-component': TaskTableComponent,
            'country-component': CountryComponent
        },
        data() {
            return {
                countries: [],
                options: {
                    withPrefix: true,
                    enabledMaxCount: true,
                    maxCount: 3
                },
                lastUpdate: new Date()
            }
        },
        watch: {
            'countries': function(){
                let d = new Date()
                this.setLastUpdate(d)
                console.log(`countries list updated at ${d}`)
            }
        },
        methods: {
            setCountries(countries) {
                //  used to work with getters & setters
                countries.forEach((country, index) => {
                    //  used to work with getters & setters
                    country.trends.list.forEach((trend, trendIndex) => {
                        //  init and replace object (for getters/setters)
                        countries[index].trends.list[trendIndex] = new Trend(trend.name, trend.url, trend.promotedContent, trend.query, trend.tweetVolume)
                    })
                })
                this.countries = countries
            },
            setLastUpdate(d){
                this.lastUpdate = d
            }
        },
        computed: {
            isEnabledMaxCount() {
                return this.options.enabledMaxCount
            },
            updated(){
                return this.lastUpdate
            }
        },
        created() {
            //
            let countriesData = JSON.parse((document.querySelector("script[name='view-data']").innerHTML).replace(/&quot;/g,'"'))
            //
            this.setCountries(countriesData)
        },
        mounted(){
            socket.on('received countries data', countries => {
                //
                this.setCountries(countries)
            })
        }
    }
</script>

<style scoped>
    h3{
        text-align: center;
    }
    .float-left{
        float:left;
        width: 40vw;
    }

    .float-right{
        float: right;
        width: 50vw;
    }
</style>
