<template>
    <div class="country">
        <table>
            <thead>
            <th>
                {{name}}
            </th>
            </thead>
            <tbody>
            <tr v-for="trend in trends">
                <td>
                    {{trend.getName()}} ({{trend.getVolume()}})
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Country",
        props: {
            country: {
                type: Object,
                required: true
            },
            options: {
                type: Object,
                required: true
            }
        },
        computed: {
            name() {
                return this.country.name
            },
            trends() {
                //
                let list = this.country.trends.list,
                    enabledMaxCount = this.options.enabledMaxCount,
                    maxCount = this.options.maxCount
                //
                if (this.options.withPrefix) {
                    list = list.filter((trend, index) => trend.getName().startsWith('#'))
                }
                //
                if (enabledMaxCount && maxCount > 0) {
                    list = list.filter((trend, index) => index < maxCount)
                }
                //
                return list
            }
        }
    }
</script>

<style scoped>
    .country {
        display: inline-flex;
        width: 33%;
    }

    table tr {
        font-size: 10px;
    }
</style>
