<template>
    <div>
        <slot></slot>
        <table v-if="countries.length > 0">
            <thead>
            <th v-for="country in countries">{{country.name}}</th>
            </thead>
            <tbody>
            <!--50 is the count from twitter api trends call-->
            <!--can use this as well because all countrys have same size array with trends 'countries[0].trends.list.length'-->
            <tr v-for="index in countries[0].trends.list.length">
                <td v-for="country in countries">
                    {{country.trends.list[index-1].name}} ({{country.trends.list[index-1].tweetVolume}})
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        name: "SameTableAsInTask",
        props: {
            countries: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>
