table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    font-size: 12px;
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
    font-weight: 600;
  }

  td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }

}

td, th {
  padding: 0;
}

fieldset {
  margin-bottom: 15px;
}